<div class="d-flex flex-column w-100 h-100 bg-light text-dark">
  <nz-card class="w-100">
    <div class="d-flex flex-row justify-content-between">
      <div>版权声明:</div>
      <button nz-button [routerLink]="'/chat'">
        <span nz-icon nzType="rollback" nzTheme="outline"></span>
      </button>
    </div>
  </nz-card>
  <nz-card>
    <h4>
      本软件包含turbo,turbo-proxy,turboUI.
    </h4>
    <div>
      <h5>本软件使用的开源组件包括：</h5>
        turbo:
      <ul>
        <li>.net <a href="https://dotnet.microsoft.com/zh-cn/">https://dotnet.microsoft.com/zh-cn/</a> </li>
        <li>avalonia <a href="https://docs.avaloniaui.net/zh-Hans/docs/welcome">https://docs.avaloniaui.net/zh-Hans/docs/welcome</a></li>
      </ul>
      turbo-proxy:
      <ul>
        <li>python</li>
        <li>tornado</li>
        <li>openai</li>
        <li>ujson等</li>
      </ul>
      turboUI：
      <ul>
        <li>Angular <a href="https://angular.cn/docs">https://angular.cn/docs</a></li>
        <li>ng-zorro <a href="https://ng.ant.design/docs/introduce/zh">https://ng.ant.design/docs/introduce/zh</a></li>
        <li>idb&#64;7.1.1</li>
        <li>bootstrap</li>
      </ul>

    </div>
    <h5>本软件或软件包是一个开源软件，但是并不保留所使用图标等资源的版权。</h5>
    <div>
      图标大多来自于，ng-zorro 图标，openai官网，维基百科，<a href="https://www.iconfont.cn/?spm=a313x.search_index.i3.2.44ac3a81IFgvKs">阿里图标库</a>
      以及网络上的其他网站。
    </div>
    <h5>软件仅供学习交流，教育，用于其他用途，请自行审查版权。</h5>

  </nz-card>
</div>
