.active{
  width: 10px;
  height: 10px;
  background: #79c0ff;
}
.mini-button{
  width: 25px;
}
.chat-box {
  display: flex;
  align-items: center;
  padding: 8px;
  /*border: 1px solid #ccc;*/
}

.chat-content {
  flex: 1;
  margin-left: 16px; /* 适当的间距 */
}

.centered {
  max-width: 800px !important;
  margin: 0 auto;
  overflow: auto;
}
::-webkit-scrollbar {
  width: 6px; /* 滚动条宽度 */
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent; /* 滚动条背景色 */
}

::-webkit-scrollbar-thumb {
  background-color: #ccc; /* 滚动条滑块颜色 */
  border-radius: 3px; /* 滑块圆角 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; /* 鼠标悬停时滑块颜色 */
}
@media screen and (max-width: 800px) {
  .centered {
    max-width: unset;
    margin: unset;
  }
}


