<div class="chat-box centered flex-column">
  <div class="d-flex flex-row align-items-start w-100">
    <img class="mx-2" nz-image [ngSrc]="chatModel?.role==UserRole?'assets/programmer.png':'assets/chat-gpt.png'" width="20" height="20" alt="图标"/>
    <div class="mx-2">{{ chatModel?.role==UserRole?'You':'ChatGPT' }}</div>
  </div>
  <div class="flex-grow-1 centered px-5 my-2 w-100">
<!--    <app-stt [chatModel]="chatModel" [content]="chatModel?.content"></app-stt>-->
    <div [ngSwitch]="getDisplayType(type)">
      <div *ngSwitchCase="DisplayType.staticRequestOrResult">
        <app-static-request [chatModel]="chatModel"></app-static-request>
      </div>
      <div *ngSwitchCase="DisplayType.staticImageResult">
        <app-static-image [chatModel]="chatModel"></app-static-image>
      </div>
      <div *ngSwitchCase="DisplayType.staticSpeechResult">
        <app-static-image [chatModel]="chatModel"></app-static-image>
      </div>

      <div *ngSwitchCase="DisplayType.dynamicChatResult">
        <app-chat [chatModel]="chatModel" [content]="chatModel?.content"></app-chat>
      </div>
      <div *ngSwitchCase="DisplayType.dynamicImageResult">
        <app-image [chatModel]="chatModel" [content]="chatModel?.content"></app-image>
      </div>
      <div *ngSwitchCase="DisplayType.dynamicSpeechResult">
        <app-tts [chatModel]="chatModel" [content]="chatModel?.content"></app-tts>
      </div>
      <div *ngSwitchCase="DisplayType.dynamicTranscriptionResult">
        <app-stt [chatModel]="chatModel" [content]="chatModel?.content"></app-stt>
      </div>

      <div *ngSwitchDefault>
        <app-static-request [chatModel]="chatModel"></app-static-request>
      </div>
    </div>

  </div>
</div>
