
.sidebar {
  width: 260px;
}

.sidebar.d-none {
  display: none;
}
.shift-scale{
  scale: 2;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.scrollbar-y-none::-webkit-scrollbar {
    display: none; /* WebKit (Chrome, Safari) */
}
.z-max{
  z-index: 9999!important;
}
.full{
  width: 100vw !important;
  height: 100vh !important;
}
