<ng-template #system>
  <nz-col *ngFor="let info of systemPrompts">
    <div
      (click)="release(info)"
      class="system-info p-1 mx-2 rounded-3 d-flex flex-column">
      <div>{{info.title}}</div>
    </div>
  </nz-col>
</ng-template>
<div class="d-flex flex-column">
  <div class="m-auto">
    <button nz-button [routerLink]="user_routes.prompts">
      {{'ball.viewAll' | translate}}
    </button>
    <button class="mx-2" nz-button (click)="release()">
      {{'ball.skipSelection' | translate}}
    </button>
  </div>
  <nz-card class="w-100 my-2 scrollable-list">
    <nz-row class="w-75 m-auto">
      <ng-container *ngTemplateOutlet="system"></ng-container>
    </nz-row>
  </nz-card>
</div>
