.slider {
  width: 100px;
  display: block;
}

.slider.big {
  width: 200px;
}

.select.big {
  width: 120px;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.follow {
  font-size: 12px;
}

.setting-action > * {
  margin: 0 10px;
}

.back-to-top {
  z-index: 2;
  position: fixed;
  right: 40px;
  bottom: 200px;
}

.back-to-top {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
}
