<div class="overflow-y-scroll h-100">
  <div class="d-flex flex-row-reverse sticky-top z-1 bg-white">
    <div class="my-1">
      <button class="btn btn-primary mx-1" [routerLink]="['create']" [queryParams]="{returnUrl: admin_routes.keys.join('/')}">添加</button>
      <button class="btn btn-primary mx-1"
              (click)="refresh()"
      >刷新</button>
    </div>
  </div>
  @if(keys===undefined||keys!.length===0){
    <div>这里什么都没有哦</div>
  }@else{
    @for(key of keys!; track key.supplierKeyId){
      <app-key-exhibit (refresh)="refresh()" [key]="key"></app-key-exhibit>
    }
  }

</div>
