<form novalidate [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <div class="form-group mb-1">
    <label>模型名</label>
    <input class="form-control" name="name" formControlName="name"
      placeholder="请输入模型名，示例gpt-3.5-turbo"
      >
    @if (validateForm.controls['name'].invalid && validateForm.controls['name'].dirty) {
      <li>
        模型名要求长度2-30
      </li>
    }
  </div>
  <div class="d-flex flex-row-reverse">
    <button class="btn btn-primary" type="submit">添加</button>
  </div>
</form>
