<nz-card class="super-b overflow-y-scroll h-100 w-100">
  <div class="d-flex flex-row-reverse">
    <button class="btn btn-primary"
      (click)="logout()">
      退出登录
    </button>
  </div>
  <div class="m-1 fs-u">
    用户名： {{user?.name}}
  </div>
  <div class="m-1 fs-u">
    昵称： {{user?.nickname===undefined?"无":user?.nickname}}
  </div>
  <div class="m-1 fs-u">
    身份:
    @if(user!==undefined){
      @for(role of roles!;track role.roleId){
        {{role.name}}
      }
    }
  </div>
</nz-card>
