.center-input{
  margin: auto;
  width: 80%;
}
.center{
  margin:  4px auto;
}
.tool-ball{
  z-index: 5!important;
  right: 20px;
  top: 80px;
  width: 40px;
  height: 40px;
  border: black 1px solid;
  /*background: darkgrey;*/
}
.choice{
  z-index: 5!important;
  right: 20px;
  top: 120px;
}
.fs-mini{
  font-size: 12px;
}
.ask-box{
  font-size: 16px;
  scrollbar-width: none;
  border: none;
  outline: none;
}
.ask-box:hover,.ask-box:active{
  border: none;
  outline: none;
}
.ask-box::-webkit-scrollbar {
  display: none;
}

.select-box{
  max-width: 300px;

}
.z-second{
  z-index: 8888!important;
}
