<div class="w-100 my-2" *ngFor="let file of chatModel?.fileList">
  <ng-container *ngIf="file.fileContent === ''; else showImage">
    <nz-card  class="rounded-4">
      <div class="d-flex flex-column">
        <nz-row>
          <nz-col class="mx-2">
            <img width="40" height="40" nz-image [nzSrc]="getIcon(file.fileType!,file.fileName!)" [nzFallback]="'assets/file.svg'" alt="图标">
          </nz-col>
          <nz-col>
            <nz-row>
              <nz-col class="mx-2">
                <div>文件: </div>
              </nz-col>
              <nz-col class="mx-2">
                <div>类型: {{file.fileType}}</div>
              </nz-col>
              <nz-col class="mx-2">
                <div>大小: {{file.fileSize}}</div>
              </nz-col>
            </nz-row>
            <nz-row>
              <nz-col class="mx-2">
                <div>{{file.fileName}}</div>
              </nz-col>
            </nz-row>
          </nz-col>
        </nz-row>
      </div>
    </nz-card>
  </ng-container>
  <ng-template #showImage>
    <img nz-image class="show"
         [nzFallback]="fallback"
         [nzSrc]="file.fileContent!" alt="图片"/>
  </ng-template>
</div>

<app-markdown-root [content]="chatModel?.content"></app-markdown-root>
