<div class="d-flex w-100 h-100 overflow-hidden"
  [class.position-relative]="miniPhone()"
>
  <button nz-button
          class="position-absolute z-1"
          [style]="'margin-left: 260px;'"
          *ngIf="miniPhone()&&!sidebarService.isSideBarClosed"
          [class.z-max]="miniPhone()"
          (click)="toggleSidebar()">
    <span nz-icon nzType="close" nzTheme="outline"></span>
  </button>
  <div class="sidebar p-0 m-0 d-flex flex-column"
       [class.d-none]="sidebarService.isSideBarClosed"
       [class.position-fixed]="miniPhone()"
       [class.z-2]="miniPhone()"
       [class.h-100]="miniPhone()"
       [class.z-max]="miniPhone()"
    >
    <div class="bg-dark overflow-y-scroll scrollbar-y-none flex-grow-1">
      <!-- 历史记录标记 -->
      <app-chat-history [chatHistoryTitle]="historyTitles"
                        (chatHistoryChangeEvent)="handleChatHistoryAction($event)"></app-chat-history>
    </div>
    <div class="bg-dark sticky-bottom z-0">
      <!-- 登录标记 -->
      <div class="w-100">
        <button class="rounded-5 m-2" nz-button
                (click)="openSettingPage()"
        ><span nz-icon nzType="edit" nzTheme="outline"></span></button>
        <app-login-label></app-login-label>
      </div>
    </div>
  </div>
  <div class="content bg-info col position-relative p-0 flex-grow-1"
    >
    <span
      *ngIf="!miniPhone()"
      class="position-absolute top-50 translate-middle-y z-1"
          nz-icon style="left: 30px;" (click)="toggleSidebar()"
          [nzType]="sidebarService.isSideBarClosed?'right':'left'"
          nzTheme="outline"></span>
    <router-outlet></router-outlet>
  </div>
</div>


