
.sidebar {
  width: 260px;
}

.sidebar.d-none {
  display: none;
}

.scrollbar-y-none::-webkit-scrollbar {
    display: none; /* WebKit (Chrome, Safari) */
}
.flex-0{
  flex: 0 0 auto;
}
.flex-1{
  flex: 1;
}
