<nz-modal [(nzVisible)]="exportVisible"
          nzTitle="导出系统预设"
          (nzOnCancel)="exportClose()"
          (nzOnOk)="exportClose()"
          [nzFooter]="[]"
    >
  <ng-container *nzModalContent>
    <app-export-prompts></app-export-prompts>
  </ng-container>
</nz-modal>
<nz-modal [(nzVisible)]="importVisible"
          nzTitle="导入系统预设"
          (nzOnCancel)="importClose()"
          (nzOnOk)="importClose()"
          [nzFooter]="[]"
    >
  <ng-container *nzModalContent>
    <app-import-prompts></app-import-prompts>
  </ng-container>
</nz-modal>
<nz-modal [(nzVisible)]="createVisible"
          nzTitle="新建系统预设信息"
          (nzOnCancel)="createClose()"
          (nzOnOk)="createClose()"
          [nzFooter]="[]"
          >
  <ng-container *nzModalContent>
    <app-create-prompt (close)="createClose()"></app-create-prompt>
  </ng-container>
</nz-modal>
<nz-modal [(nzVisible)]="lookVisible"
          nzTitle="查看系统预设信息"
          (nzOnCancel)="lookClose()"
          (nzOnOk)="lookClose()"
          [nzFooter]="[]"
>
  <ng-container *nzModalContent>
    <app-look-update-prompt [prompt]="lookPrompt" (close)="lookClose()"></app-look-update-prompt>
  </ng-container>
</nz-modal>
<div class="d-flex flex-column w-100 h-100 bg-white text-dark">
  <div class="overflow-auto flex-grow-1 position-relative"  #settingPanel>
    <div class="d-flex bg-light flex-row sticky-top justify-content-between z-1">
      <div class="d-flex flex-column p-2 mx-2">
        <div style="font-size: 20px;font-weight: bold;">
          预设管理
        </div>
      </div>
      <div class="p-2 mx-0 my-auto px-4">
        <button nz-button class="bg-light border-1 rounded-2" [routerLink]="['/chat']">
          <span nz-icon nzType="close" nzTheme="outline"></span>
        </button>
      </div>
    </div>
    <nz-card class="d-flex flex-column rounded-2">
      <nz-card class="rounded-2">
        <div class="d-flex flex-row-reverse mb-2">
          <nz-row>
            <nz-col>
              <button nz-button class="rounded-3"
                (click)="exportVisible = true"
                >
                导出
              </button>
            </nz-col>
            <nz-col class="ms-2">
              <button nz-button class="rounded-3"
                (click)="importVisible = true"
                >
                导入
              </button>
            </nz-col>
          </nz-row>
        </div>
        <div class="d-flex flex-row align-items-center">
          <input nz-input [(ngModel)]="filterText"
                 (ngModelChange)="filter()"
                 class="flex-grow-1 h-input" placeholder="输入关键字进行查找">
          <button (click)="createVisible = true"
            nz-button class="flex-grow-0 ms-2 rounded-3">
            新建
          </button>
        </div>
      </nz-card>
      <nz-card class="rounded-2">
        <div class="d-flex flex-row-reverse m-2">
          <div>
            <button nz-button (click)="deleteAllFilterPrompts()">
              全部删除
            </button>
          </div>
        </div>
        @if(filterPrompts.length===0){
          这里什么都没有哦
          <nz-skeleton></nz-skeleton>
        }
        <div class="d-flex flex-column">
          @for(prompt of filterPrompts; track prompt.id){
            <nz-card>
              <div class="d-flex flex-row align-items-center justify-content-between">
                <nz-col>
                  <div>
                    {{prompt.title}}
                  </div>
                  <div>
                    {{prompt.content.substring(0,20)}}...
                  </div>
                </nz-col>
                <nz-col>
                  <nz-row>
                    <button nz-button class="rounded-3 ms-1 mb-1"
                            (click)="lookModalOpen(prompt.id)"
                    >
                      查看
                    </button>
                    <button nz-button class="rounded-3 ms-1 mb-1"
                            (click)="deletePrompt(prompt.id)"
                    >
                      删除
                    </button>
                  </nz-row>
                </nz-col>
              </div>
            </nz-card>
          }
        </div>
      </nz-card>
    </nz-card>
  </div>
</div>
