<nz-modal [(nzVisible)]="newModelVisible"
          [nzFooter]="[]"
          [nzTitle]="'添加模型'"
          (nzOnCancel)="newModelVisible = false"
          (nzOnOk)="newModelVisible = false"
>
  <ng-container *nzModalContent>
    <app-new-model (close)="tackleClose($event)"></app-new-model>
  </ng-container>
</nz-modal>
<nz-modal [(nzVisible)]="editModelVisible"
          [nzFooter]="[]"
          [nzTitle]="'更改模型'"
          (nzOnCancel)="editModelVisible = false"
          (nzOnOk)="editModelVisible = false"
>
  <ng-container *nzModalContent>
    <app-edit-model (close)="tackleEditClose($event)" [model]="editModel!"></app-edit-model>
  </ng-container>
</nz-modal>

<div class="overflow-y-scroll h-100">
  <div class="d-flex flex-row-reverse sticky-top z-1 bg-white">
    <div class="my-1">
      <button class="btn btn-primary mx-1" (click)="newModelVisible = true">添加</button>
      <button class="btn btn-primary mx-1"
              (click)="refresh()"
      >刷新</button>
    </div>
  </div>
  <table class="table table-sm table-striped table-bordered">
    <thead>
    <th scope="col">模型ID</th>
    <th scope="col">模型名</th>
    <th>操作</th>
    </thead>

    @if(models===undefined){
      <nz-skeleton></nz-skeleton>
    }@else{
      <tbody>
        @for(model of models!; track model.modelId){
          <tr>
            <th>{{model.modelId}}</th>
            <th>{{model.name}}</th>
            <th>
              <div class="d-flex">
                <button class="btn btn-primary mx-1" (click)="editAModel(model)">
                  编辑
                </button>
                <button class="btn btn-warning mx-1"
                        nz-popconfirm
                        nzPopconfirmTitle="确定要删除这个身份吗,这将删除所有与该身份关联的关系?"
                        nzPopconfirmPlacement="bottom"
                        (nzOnConfirm)="delete(model.modelId!)">
                  删除
                </button>
                <button class="btn btn-secondary mx-1"
                        nz-tooltip nzTooltipTitle="查看具有该模型的密钥"
                        [routerLink]="['../keys']" [queryParams]="{ modelId: model.modelId }"
                >
                  关联密钥
                </button>
              </div>
            </th>
          </tr>
        }
      </tbody>
    }

  </table>
</div>

