<div>
  <textarea
    ngxClipboard
    #textAreaElement
    class="w-100" rows="10" [(ngModel)]="json">
  </textarea>
</div>
<div class="d-flex flex-row-reverse">
  <div class="d-flex flex-row">
    <nz-upload
      [nzBeforeUpload]="beforeUpload"
      [nzMultiple]="false"
      >
      <button nz-button>
        <span nz-icon nzType="link" nzTheme="outline"></span>
        {{'prompts.importFromFile' | translate}}
      </button>
    </nz-upload>
    <button
      class="mx-2 rounded-3"
      nz-button (click)="analysis()">
      {{'prompts.import' | translate}}
    </button>
  </div>
</div>
