::-webkit-scrollbar {
  width: 6px; /* 滚动条宽度 */
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent; /* 滚动条背景色 */
}

::-webkit-scrollbar-thumb {
  background-color: #ccc; /* 滚动条滑块颜色 */
  border-radius: 3px; /* 滑块圆角 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; /* 鼠标悬停时滑块颜色 */
}

.border-box{
  box-sizing: border-box;
}
.content-box{
  box-sizing: content-box;
}
input.ng-dirty.ng-invalid{
  border: 2px solid #ff0000;
}
input.ng-dirty.ng-valid{
  border: 2px solid #6bc502;
}
