.markdown-clipboard-button {
  background-color: rgba(255, 255, 255, 0.07);
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 11px;
  padding: 4px 0;
  width: 50px;
  height: 40px;
  transition: all 250ms ease-out;
}

.markdown-clipboard-button:hover {
  background-color: rgba(255, 255, 255, 0.14);
}

.markdown-clipboard-button:active {
  transform: scale(0.95);
}

.markdown-clipboard-button.copied {
  background-color: rgba(0, 255, 0, 0.1);
  color: #00ff00;
}

::-webkit-scrollbar {
  width: 6px; /* 滚动条宽度 */
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent; /* 滚动条背景色 */
}

::-webkit-scrollbar-thumb {
  background-color: #ccc; /* 滚动条滑块颜色 */
  border-radius: 3px; /* 滑块圆角 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; /* 鼠标悬停时滑块颜色 */
}
