<nz-select ngModel="lucy" class="rounded-5 select m-3 bg-theme2 text-theme2" [(ngModel)]="model" nzMode="default"
           (ngModelChange)="onSelectChange()">
  <nz-option-group nzLabel="chat">
    @for (chat of chatStreamChildren; track chat) {
      <nz-option [nzLabel]="chat" [nzValue]="chat"></nz-option>
    }
  </nz-option-group>
  <nz-option-group nzLabel="image">
    @for(image of imageChildren; track image){
      <nz-option [nzLabel]="image" [nzValue]="image"></nz-option>
    }
  </nz-option-group>
  <nz-option-group nzLabel="tts">
    @for(tts of ttsChildren;track tts){
      <nz-option  [nzLabel]="tts" [nzValue]="tts"></nz-option>
    }
  </nz-option-group>
  <nz-option-group nzLabel="transcription">
    @for(stt of sttChildren;track stt){
      <nz-option [nzLabel]="stt" [nzValue]="stt"></nz-option>
    }
  </nz-option-group>
</nz-select>
